<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654239745338-ipj97j5j84vvi8kck1v5ahulskctvrj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654239745338-ipj97j5j84vvi8kck1v5ahulskctvrj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654239745338-fvjql7pdfgt5trnioi5063g30pi16ldg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Y4M9alz3g7udLq-J7hHRT69kfMHikCI</string>
	<key>GCM_SENDER_ID</key>
	<string>654239745338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jnpass</string>
	<key>PROJECT_ID</key>
	<string>ictwork-805e9</string>
	<key>STORAGE_BUCKET</key>
	<string>ictwork-805e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654239745338:ios:3719598de34809b9c97c03</string>
	<key>DATABASE_URL</key>
	<string>https://ictwork-805e9.firebaseio.com</string>
</dict>
</plist>